<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Nature Take Over | Interactive Projection App</title>
    <meta
      name="description"
      content="The Nature Take Over Festival Interactive Web App"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" rel="preload" href="static/css/main.css" />
  </head>

  <body id="home" class="home-page" role="application">
    <header id="home--header" class="home--header home--banner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="image--box logo--box [ col-11 col-lg-12 ]">
            <img
              src="static/images/logo-white.svg"
              alt="The Nature Take Over Logo"
            />
          </div>

          <div
            class="text--box text--blocks flexbox justify-content-center [ col-9 col-sm-7 col-md-10 ]"
          >
            <p class="text--colour-bg bg--orange">
              <span>An</span> Interactive
            </p>
            <p class="text--colour-bg bg--yellow">Projection</p>
          </div>
          <!-- ADD URL INTO THIS LINK -->
          <a href="/customer" class="btn main--btn stack--top" role="link"
            >Play Now</a
          >
          <div class="flower-border">
            <!-- <img src="static/images/flower-border-sm.png" alt="" /> -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </header>
    <!-- \#home--header -->

    <main id="page" role="main">
      <div id="banner--link">
        <div class="container">
          <div class="row justify-content-center">
            <div class="text--box [ col-10 col-md-8 col-lg-6 ]">
              <p>visit the interactive page now</p>
              <!-- ADD URL INTO THIS LINK -->
              <a href="/customer" class="btn main--btn" role="link">Play Now</a>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- \#banner--link -->

      <section id="how-to-play" class="container">
        <div class="row justify-content-center flex-column align-items-center">
          <header class="how-to-header [ col-11 col-sm-9 col-md-8 col-lg-6 ]">
            <h1 class="h3">How does it work?</h1>
            <p>
              Once you have clicked on the
              <span class="bold">PLAY NOW</span> button you'll be able to
              control you're very own insect that will be projected onto the
              building in front of you.
            </p>
          </header>

          <div
            class="text--box instructions instruct_1 [ col-11 col-sm-9 col-md-8 col-lg-10 ]"
          >
            <div class="text--box_inside col-lg-7">
              <p class="h3">
                1. Touch the screen of your mobile device or click on the screen
              </p>

              <p>
                On the interactive page touch your screen if using a mobile
                device such as a phone or tablet, if you're on a device with a
                mouse just click anywhere on the screen.
              </p>
              <p>
                Make sure to use your device in Landscape mode to get the most
                from the experience.
              </p>
              <p>
                You'll should now see your insect appear on the screen and the
                building!
              </p>
            </div>

            <div class="image--box col-lg-5">
              <img
                src="static/images/phone-example-1.png"
                alt="Instruction 1 a hand and the screen"
              />
            </div>
          </div>
          <!-- \. instruct_1 -->

          <div
            class="text--box instructions instruct_2 [ col-11 col-sm-9 col-md-8 col-lg-10 ]"
          >
            <div class="text--box_inside col-lg-7">
              <p class="h3">2. Move your finger or cursor around the screen!</p>

              <p>
                Now you will see your insect character move around on both the
                screen and on the buiding in front of you!
              </p>
            </div>

            <div class="imge--box col-lg-5">
              <img
                src="static/images/phone-example-2.png"
                alt="Instruction 2 a hand, scren and the building"
              />
            </div>
          </div>
          <!-- \. instruct_2 -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.container -->

      <aside id="banner-try-it-now">
        <section class="container">
          <div class="row flex-column align-items-center">
            <img class="mantis image--transformed" src="static/images/mantis.png" alt="praying-mantis">
            <div class="[ col-8 ]">
              <p>Try it now, just click the button!</p>
            </div>
            <!-- /.col -->
            <!-- ADD URL INTO THIS LINK -->
            <a href="/customer" class="btn main--btn" role="button">Play Now</a>
            <img class="flowers image--transformed" src="static/images/flowers-bees-2.png" alt="flowers">
          </div>
          <!-- /.row -->
        </section>
        <!-- /.container -->
      </aside>
      <!-- #banner-try-it-now -->

      <div class="container">
        <section id="about-the-project" class="row justify-content-center">
          <div class="text--box [ col-11 col-sm-10 col-md-7 col-lg-8 ]">
            <h4 class="h3 section--heading">Developing the project</h4>

            <p>
              The bold and colourful animations are inspired by the museum's
              collection of botanical work by Joseph Banks and his young
              draughtsman Sydney Parkinson. <br />Banks and Parkinson sailed
              with Captain Cook's Endeavour voyage that circumnavigated the
              globe from 1768 to 1771.
            </p>
          </div>

          <div class="image--box [ col-12 col-md-6 col-lg-5 ] bees-flowers">
            <img
              src="static/images/insects-flowers.png"
              alt="Bees Pollinating Flowers"
            />
          </div>

          <div
            class="text--box [ col-11 col-sm-10 col-md-7 col-lg-7 ] outbound--links"
          >
            <h4 class="h4">Have a look at these cool links</h4>
            <p class="h5 sub--title">
              If you want to read more and do something you can start by looking
              at the websites here:
            </p>

            <ul class="external--links listed--bullet">
              <li>
                <p>Buglife Website saving the planet!</p>
                <a
                  class="btn--website"
                  href="https://www.buglife.org.uk/"
                  role="link"
                  target="_blank"
                  >bug life</a
                >
              </li>
              <li>
                <p>RHS Website - Advice</p>
                <a
                  class="btn--website"
                  href="https://www.rhs.org.uk/advice/profile?pid=528"
                  role="link"
                  target="_blank"
                  >RHS</a
                >
              </li>
              <li>
                <p>RHS Website - Pollinators</p>
                <a
                  class="btn--website"
                  href="https://www.rhs.org.uk/advice/profile?pid=528"
                  role="link"
                  target="_blank"
                  >RHS</a
                >
              </li>
              <li>
                <p>Wildlife Trust - Nectar Cafe</p>
                <a
                  class="btn--website"
                  href="https://www.wildlifetrusts.org/actions/best-plants-bees-and-pollinators"
                  role="link"
                  target="_blank"
                  >Wildlife Trust</a
                >
              </li>

              <li>
                <p>About Sydney Parkinson</p>
                <a
                  class="btn--website"
                  href="https://www.botanicalartandartists.com/sydney-parkinson.html"
                  role="link"
                  target="_blank"
                  >About Sydney Parkinson</a
                >
              </li>

              <li>
                <p>Banks' Florilegium Copperplate Engravings</p>
                <a
                  class="btn--website"
                  href="https://www.florilegium.gallery/about-the-florilegiums"
                  role="link"
                  target="_blank"
                  >Copperplate Engravings</a
                >
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>

    <footer id="main__footer" class="block">
      <div class="container">
        <section class="row"></section>

        <div class="row footer__copyright">
          <div class="col-11 col-lg-6">
            <p class="footer__note copyright">Copyright 2023 - 2024</p>
          </div>
          <div class="col-11 col-lg-6">
            <p class="footer__note">
              SITE MADE WITH
              <span class="heart-beat">❤️</span>
              BY AL.JOHNSON CREATIVE
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
